@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'poppins', sans-serif; */
  font-family: 'Lato', sans-serif;

}

/* .container{
  border: 5px solid green;
} */
.table {
  background-color: #1E1E1E;
  /* border: 5px solid red; */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;


}

html {
  font-size: 62.5%;
}

table {
  /* margin: 100px auto; */
  border: 1rem hidden #443c68;
  border-radius: 1rem;
  /* box-shadow: 0 0 0 2px black; */
  border-collapse: collapse;
  overflow: hidden;
  /* max-width: 80rem; */
}

li,
p,
a,
td {
  /* font-size: 1.6rem; */
  line-height: 1.6;
}

thead {
  /* font-size: 1.8rem; */
  background-color: #8644F1;
  color: #FFFFFF;
}

th,
td {
  border: .3rem solid #1E1E1E;
  min-width: 20rem;
  padding: 1rem 2rem;
  line-height: 1.7;
  font-weight: 300;
  font-size: 20px;
}

td {
  font-size: 16px;
  font-weight: 500;
  padding: 1.5rem 2rem;
  color: #313131;
}

tbody {
  background-color: #F9F5FF;
}
tr:hover{
  /* background-color: #8644F1;  */
  border: 5px solid #8644F1;
  transition: 0.5s;
}
td:hover{
  color: #FFFFFF;
  background-color: #8644F1; 
  border: 5px solid #FFFFFF;
  transition: 0.2s;
} 
