* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

html {
  font-size: 62.5%;
}

table {

  margin: 6rem auto;
  border: 1rem hidden #443c68;
  border-radius: 2rem;
  box-shadow: 0 0 0 2px black;
  border-collapse: collapse;
  overflow: hidden;
  max-width: 80rem;
}

li,
p,
a,
td {
  font-size: 1.6rem;
  line-height: 1.6;
}

thead {
  font-size: 1.8rem;
  background-color: #443C68;
  color: #fff;
}

th,
td {
  border: 1px solid #443C68;
  min-width: 30rem;
  padding: 1.5rem 1rem;
  line-height: 1.7;
}

td {
  font-size: 1.4rem;
}